@charset "utf-8";

/* 폰트 적용 */
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}

@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: '777Redpostbox';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Redpostbox.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Middleschool_student';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/Middleschool_student.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body, html > body .tui-editor-contents {
 font-family: 'S-CoreDream-5Medium', sans-serif;
}
.meke {
  font-family: '777Redpostbox', sans-serif;
  font-size: 25px;
}
/* body {
  background-color: #F7F1EF;
} */
.con-pad {
  padding:0 2rem;
}

.top-bar {
  position: fixed;
  z-index: 100;
  padding: 30px;
}

.top-bar, .bottom-bar {
  background-color: #BDB5B2;
}

.satou {
  width: 300px;
}

/* .meke-head:hover {
  color: #F27E7E;
} */
.cont-1 {
  font-family: 'Middleschool_student', sans-serif;
  font-size: 20px;
}
.cont-1 > img{
  margin-left: auto;
  margin-right: auto;

}

.align-center {
  text-align: center;
}
.border-red {
  border:4px solid red;
}

.border-blue {
  border:4px solid blue;
}

.border-green {
  border:4px solid green;
}

.border-gold {
  border:4px solid gold;
}

.bg-pink {
  background-color: pink;
}

.bg-brown {
  background-color: brown;
}

.bg-custom {
  background-color: #BDB5B2;
}
